.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #120c0c;
  z-index: -1;
}

.topBar {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.container {
  background: url(/footer-bg.jpg) no-repeat center center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 1;

  @media screen and (max-width: 480px) {
    background: none;
  }
}

.title {
  font-size: var(--mantine-spacing-sm);
  font-weight: 400;
  color: var(--mantine-color-gray-3);
  margin-bottom: var(--mantine-spacing-xs);
}

.text {
  font-size: var(--mantine-spacing-xs);
  color: var(--mantine-color-gray-5);
}

.link {
  line-height: 1.6;
  color: var(--mantine-color-gray-5);
  transition: 0.2s;

  &:hover {
    color: var(--mantine-color-gray-1);
  }
}

.content {
  gap: 0.25rem;
  color: var(--mantine-color-gray-5);

  & > * {
    transition: 0.2s;

    &:hover {
      color: var(--mantine-color-gray-1);
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid var(--mantine-color-gray-7);
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}
