body {
  background-color: var(--mantine-color-gray-1);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: light-dark(#dee2e6, #5c5f66);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: light-dark(#a6a7ab, #adb5bd);
}

::-webkit-scrollbar-thumb:hover {
  background: light-dark(#909296, #868e96);
}

.bg-color {
  background-color: var(--mantine-color-gray-1);
}

.section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @media only screen and (max-width: 37.5em) {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
}

.section-clean {
  background-color: var(--mantine-color-gray-0);
}

.heading {
  font-size: 2.5rem;
  color: #000;

  span {
    color: #5b2020;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 1.75rem;
  }
}

.title {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #000;
}

.text {
  color: #626262;
}

@media only screen and (max-width: 37.5em) {
  .rfssl-Carousel-container .rfssl-Image-root {
    height: 100% !important;
  }
}
