body {
  background-color: var(--mantine-color-gray-1);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: light-dark(#dee2e6, #5c5f66);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: light-dark(#a6a7ab, #adb5bd);
}

::-webkit-scrollbar-thumb:hover {
  background: light-dark(#909296, #868e96);
}

.bg-color {
  background-color: var(--mantine-color-gray-1);
}

.section {
  padding-top: 3.5rem;
  padding-bottom: 4rem;

  @media only screen and (max-width: 37.5em) {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
}

.section-clean {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

.carousel-bottom .ob-Carousel-indicators {
  position: unset;
}

.ob-Carousel-indicator {
  background-color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-gray-4));
  transition: width 250ms ease;

  &[data-active] {
    width: 40px;
  }
}
