.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(23, 20, 20, 0.75) 25%, rgba(136, 84, 84, 0.6) 100%);
}

.carousel-text {
  z-index: 100;
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);

  h1 {
    font-size: 3rem;
    color: #fff6f6;
  }

  span {
    color: #ffd5d7;
  }

  p {
    color: #e2e2e2;
  }
}

.button {
  background-image: linear-gradient(45deg, #a55052 0%, #894546 25%, #6e3a3a 50%, #542e2e 100%);
}
